@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.container {
  width: 100%;
}

header {
  width: 85%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  display: flex;
  gap: 4vw;
  justify-content: space-evenly;
}

.icons {
  display: flex;
  gap: 2vw;
  justify-content: space-evenly;
}

.content {
  width: 85%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
  position: relative;
}

.image {
  width: 72%;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: -1;
}

.img {
  object-fit: cover;
  height: 600px;
  width: 100%;
}

.text1 {
  padding: 40px;
  font-size: 55px;
  width: 440px;
  margin-left: 90px;
  color: rgb(5, 80, 85);
}
.para {
  font-size: 18px;
  font-family: cursive;
  width: 400px;
  margin-left: 90px;
  padding-left: 40px;
  line-height: 24px;
  color: rgb(74, 84, 85);
}
.text {
  margin-top: 93px;
  width: 540px;
  height: 416px;
  background-color: rgba(255, 255, 255, 0.5);
}

.dot {
  position: absolute;
  width: 240px;
  top: 0;
  left: 0;
}
.dotted {
  width: 100%;
}

.wrapper {
  margin-top: 100px;
  width: 100%;
  height: 150px;
  background: rgb(245, 243, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companies {
  margin-top: 25px;
  display: flex;
  gap: 10vw;
  color: rgb(112, 107, 107);
  font-weight: 800;
}

.deals {
  width: 80%;

  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.points {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5vw;
}

.hot {
  margin-right: 140px;
}

.hotspan {
  font-size: 60px;
  font-weight: 600;
  color: rgb(5, 80, 85);
}

.hotimage {
  width: 6vw;
}

.plain {
  display: flex;
  align-items: center;
}

.foryou {
  font-size: 60px;
  font-weight: 600;
  color: rgb(5, 80, 85);
  width: 400px;
}

.online {
  margin-top: 15px;
  color: rgb(211, 202, 202);
}

.same {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

i {
  font-size: 30px;
}

.onlines {
  color: rgb(211, 202, 202);
}

.productslist {
  font-family: auto;
  width: 85%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60vw;
}

.productslist h3 {
  color: rgb(5, 80, 85);
  font-size: 45px;
}

.productslist h5 {
  font-size: 30px;
}

.names {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
  margin: 30px;
}

.productsimages {
  width: 85%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}

.itemspic {
  width: 25%;
  position: relative;
  background-color: rgb(243, 241, 241);
  height: 360px;
  margin: 80px 50px;
}

.productpic {
  position: absolute;
  width: 80%;
  top: 120px;
  left: 36px;
  height: 370px;
  object-fit: cover;
  background-color: transparent;
  mix-blend-mode: darken;
}

.itemspic h4 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.price {
  display: flex;
  justify-content: center;
  gap: 5vw;
  padding: 20px;
}

.pricetag {
  font-size: 18px;
}

.discount {
  font-size: 18px;
  text-decoration: line-through;
  color: lightgray;
}

.testi {
  width: 100%;
  margin: 150px auto 60px auto;
  background: rgb(245, 243, 243);
  display: flex;
  flex-direction: column;
}

.content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.content2 h2 {
  width: 400px;
  font-size: 50px;
  margin: 15px;
  text-align: center;
}

.content2 p {
  color: lightslategray;
  width: 410px;
  text-align: center;
}

.picman {
  width: 60%;
  margin: 50px auto;
  display: flex;
  gap: 10vw;
}

.imagecontainers {
  background-color: lightblue;
  height: 400px;
}

.manimage {
  width: 100%;
  background-color: transparent;
  mix-blend-mode: darken;
}

.contentText {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.iconsarrow {
  display: flex;
  gap: 20px;
}

a {
  width: 50px;
  border-radius: 50%;
  background-color: white;
  padding: 12px;
  height: 50px;
}

.ceo {
  color: #cfbfbf;
  margin-top: -40px;
  font-size: smaller;
}

.main {
  background-color: #254d4d;
  width: 100%;
  height: 500px;
}

.footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerItem {
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.226);
}

.button {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn1 {
  border-radius: 50px;
  background-color: #fff;
  color: #254d4d;
  border: none;
  width: 150px;
  height: 40px;
}

.btn2 {
  border-radius: 50px;
  padding: 10px 20px;
  color: #fff;
  background-color: #9194942d;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.heading {
  color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  line-height: 1.5;
}

.heading,
.button {
  margin: 100px;
}

.furniCom {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.furni {
  color: white;
  text-align: center;
  width: 40%;
}

.furni h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.para {
  margin-bottom: 10px;
  line-height: 1.5;
  color: rgb(28 26 26);
}

.icons {
  display: flex;
  justify-content: center;
}

.icons i {
  font-size: 1.5rem;
  margin: 10px 10px;
}

.lists {
  margin: 0 40px;
}

.lists h4 {
  font-family: "Roboto", sans-serif;
  color: white;
  margin-bottom: 15px;
}
.lists li {
  list-style-type: none;
  color: rgb(177, 171, 171);
  margin-bottom: 8px;
}

.links div {
  font-weight: 900;
}

.logo {
  font-weight: 900;
}

.aboutus {
  width: 90%;
  margin: 50px auto;
  position: relative;
}

.about {
  font-size: 50px;
  padding: 66px;
  color: rgb(5, 80, 85);
}
.aboutpara {
  width: 470px;
  font-size: 20px;
  color: lightgray;
  margin-top: -60px;
  margin-left: 65px;
}

.learn {
  position: absolute;
  top: 100px;
  right: 100px;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
}

.numbers {
  display: flex;
  margin-top: 40px;
  width: 100%;
  margin: 40px auto;
}

.num {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  gap: 50px;
  height: 400px;
  margin-top: 30px;
}

.contentsmain {
  padding: 10px;
  width: 40%;
  margin: 20px;
}

.no {
  margin: 8px 0;
}

.ques {
  margin: 8px 0;
}

.parass {
  margin: 10px 0;
  width: 290px;
}

.aboutimages {
  width: 55%;
  position: relative;
  height: 600px;
}

.img1 {
  width: 250px;
  position: absolute;
  top: 60px;
  left: 50px;
  object-fit: cover;
}
.img2 {
  width: 250px;
  position: absolute;
  top: 0;
  right: 40px;
  height: 300px;
  object-fit: cover;
}
.img3 {
  object-fit: cover;
  width: 250px;
  position: absolute;
  top: 248px;
  left: 50px;
  height: 300px;
}
.img4 {
  width: 250px;
  position: absolute;
  top: 325px;
  right: 40px;
  object-fit: cover;
}
